* {
  list-style: none;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@keyframes nameAnimation {
  0% {
      color: #9fad0b;  
  }
  25% {
    color: #13ad0b;
  }
  50% {
    color: #210bad;
  }
  75% {
    color: #ad0b16;
  }
  100% {
      color: #9fad0b;
  }
}

#name {
  font-size: 24px;
  font-weight: 600;

  animation-name: nameAnimation;

  animation-duration: 3s; 
  animation-timing-function: linear;
  animation-delay: 0ms;
  animation-iteration-count: infinite; 
  animation-direction: normal; 
  animation-fill-mode: none; 
  animation-play-state: running;
}

.navbar h1 div {
  margin: 0;
}

.links {
  display: flex;
  gap: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid black;
}

.objective {
  font-size: 50px;
}

footer {
  display: flex;
  justify-content: space-around;
}
